body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  background-color: #ebedef;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.03);
}
